<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.lucaspape.monstercat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name="de.lucaspape.monstercat.core.music.notification.PlayerService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />

        <service
            android:name="de.lucaspape.monstercat.core.download.DownloadService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />

        <receiver
            android:name="de.lucaspape.monstercat.core.music.notification.NotificationIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.lucaspape.monstercat.prev" />
                <action android:name="de.lucaspape.monstercat.close" />
                <action android:name="de.lucaspape.monstercat.playpause" />
                <action android:name="de.lucaspape.monstercat.next" />
            </intent-filter>
        </receiver>

        <activity
            android:name="de.lucaspape.monstercat.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="monstercat.com"
                    android:pathPrefix="/release"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="monstercat.com"
                    android:pathPrefix="/playlist"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.monstercat.com"
                    android:pathPrefix="/release"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.monstercat.com"
                    android:pathPrefix="/playlist"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name="de.lucaspape.monstercat.ui.activities.PlayerFullscreenActivity" />
    </application>
</manifest>