<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="de.lucaspape.monstercat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="false"
            android:icon="@drawable/ic_play_circle_filled_black_24dp"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_play_circle_filled_black_24dp"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name=".MusicPlayer$IntentReceiver">
            <intent-filter>
                <action android:name="de.lucaspape.monstercat.previous"/>
                <action android:name="de.lucaspape.monstercat.delete"/>
                <action android:name="de.lucaspape.monstercat.pause"/>
                <action android:name="de.lucaspape.monstercat.play"/>
                <action android:name="de.lucaspape.monstercat.next"/>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

    </application>

</manifest>